# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Xcode / Swift（项目开始后适用）
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
Package.resolved

# 编辑器 / 环境
.idea/
*.swp
.env
.env.local
